.pageContainer {
  background-color: lightgoldenrodyellow;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.logoStyle {
  padding-top: 16px;
  text-align: center;
}
